@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Regular.woff2') format('woff2'),
      url('../fonts/Urbanist-Regular.woff') format('woff'),
      url('../fonts/Urbanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2'),
      url('../fonts/Urbanist-SemiBold.woff') format('woff'),
      url('../fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Medium.woff2') format('woff2'),
      url('../fonts/Urbanist-Medium.woff') format('woff'),
      url('../fonts/Urbanist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Bold.woff2') format('woff2'),
      url('../fonts/Urbanist-Bold.woff') format('woff'),
      url('../fonts/Urbanist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

