html{
  font-size: 62.5%;
}

body {
	font-family: 'Urbanist', sans-serif;
	font-weight: normal;
	line-height: 1.5;
  font-size: 1.4rem;
  background: $main-bg;
  color: $text-color;

  @include vieport-md{
    font-size: 1.6rem;
  }

  @include vieport-xxl{
    font-size: 1.8rem;
  }
}

h1 {
  @include title-text(2.8rem);
}

.container {
  margin: 0 auto;

  @include vieport-md{ 
    max-width: 710px; 
  }

  @include vieport-lg{
    max-width: 924px; 
  }

  @include vieport-xl{
    max-width: 1280px;  
  }

  @include vieport-xxl {
		max-width: 1600px;
	}
}

.arrow{
  width: 26px;
  height: 26px;
  position: absolute;
  top:4px;
  right: 21px;
  transform: rotate(-45deg);

  & > span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: $input-txt-color;
  }

  &::before, &::after{
    content: '';
    position: absolute;
    background: $input-txt-color;
    height: 1.5px;
  }

  &::before{
    top:19px;
    left: 50%;
    right: -3px;
    transform: rotate(45deg);
  }

  &::after{
    bottom:-5px;
    left: 50%;
    right: -3px;
    transform: rotate(-45deg);
  }
}