// ?TOP SECTION---------------------------------------

.home_top{
  padding: 4rem 1rem;
  position: relative;
@include vieport-md{
  padding: 4rem 3rem;
}
@include vieport-lg{
  display: grid;
  grid-template: auto/repeat(2,1fr);
  padding: 0;
  padding-bottom: 4rem;
}

&__img {
  width: 100%;
  background: url('../img/AbstractDesign1.png') no-repeat left/cover;
  border: 1px solid $border-grey;
  border-radius: $border-radius-md;
  overflow: hidden;
  @include vieport-lg{
    grid-column: 2/3;
    border-radius: 0;
  }

  & > img{
    width: 100%;
    object-fit: cover;
    @include vieport-lg{
      height: 100%;
    }
  }
}

&__article{
  @include vieport-lg{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 4rem;
  }
  @include vieport-xxl{
    padding: 0 8rem 0 16rem;
  }
}

&__title{
  padding-top: 4rem;
  @include vieport-md{
    font-size: 4.6rem;
  }
  @include vieport-xl{
    padding-top: 9rem;
  }
  @include vieport-xxl{
    font-size: 6rem;
    padding-top: 15rem;
  }
}

&__paragraph{
  padding-top: 2rem;
}

&__btn_container{
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  @include vieport-lg{
    flex-direction: row;
  }

  & > a{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    @include vieport-lg{
      width: 38%;
    }
    @include vieport-xl{
      width: 26%;
    }
  }
}

&__btn_learn{
  @include border-grey($border-radius-sm);
  
  &:hover{
    @include vieport-lg{
      background-color: $btn-color;
    }
  }
}

&__btn_browse{ 
  background: $btn-color;
  border-radius: $border-radius-sm;
  &:hover{
    @include vieport-lg{
      background-color: transparent;
      border: 2px solid $btn-color;
    }
  }
}

&__statistic{
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 4rem;
  @include vieport-lg{
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
}

&__stat{
  @include border-grey($border-radius-sm);
  background-color: $second-bg;
  text-align: center;
  padding: 1.5rem ;
  flex: 1 1 40%;
  @include vieport-lg{
    text-align: start;
  }
}

&__number{
  @include title-text(2.4rem);
  padding-bottom: .5rem;
  @include vieport-md{
    font-size: 3rem;
  }
}

&__cards{
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  @include border-grey($border-radius-sm);
  box-shadow: 1px 0px 5px 9px $second-bg;
-webkit-box-shadow: 1px 0px 5px 9px $second-bg;
-moz-box-shadow: 1px 0px 5px 9px $second-bg;
@include vieport-lg{
  grid-column: 1/3;
  flex-wrap: nowrap;
}
}

&__card{
  @include border-grey($border-radius-md);
  position: relative;
  background-color: $second-bg;
  text-align: center;
  padding: 1.5rem;
  flex: 1 1 40%;
  color: white;
  @include vieport-lg{
    padding: 2rem;
  }
  @include vieport-xxl{
    padding: 4rem;
  }

  & > img{
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
    @include vieport-lg{
      width: 60px;
      height: 60px;
    }
    @include vieport-xxl{
      width: 82px;
      height: 82px;
    }
  }
}

}

.circle{
  position: absolute;
  top: 20%;
  left: 2%;
  @include vieport-md{
    top:34%;
    left: 3%;
  }
  @include vieport-lg{
    top:6%;
    left: 45%;
  }
  @include vieport-xl{
    top:14%;
    left: 46%;
  }
  @include vieport-xxl{
    top:16%;
    left: 47%;
  }
}

.circle > svg {
  display: block;
  overflow: visible;
  width: 120px;
  font-size: 1rem;
  fill: white;
  @include border-grey($border-round);
  padding: 1.5rem;
  background: $main-bg;
}

.circle path {
  fill: none;
}

.circle text{
  letter-spacing: .5rem;
}

.arrow_box{
  @include border-grey($border-round);
  position: absolute;
  top: 21.8%;
  left: 20.7%;
  width: 70px;
  height: 70px;
  background-color: $second-bg;
}

.arrow_box .arrow{
  top: 20%;
  left: 16%;

  & > span, &::before, &::after{
    background-color: white;
  }

}

// ? FEATURED PROPERTIES

.featured {
  display: grid;
  grid-template: auto/repeat(4,1fr);

  &__swiper{
    grid-column: 1/5;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid $border-grey;
    @include vieport-lg{
      gap: 2rem;
    }
  }

  &__title{
    grid-column: 1/5;
    @include title-text(2.5rem);
    padding: 1rem 0;
    @include vieport-md{
      font-size: 3.8rem;
    }
    @include vieport-xxl{
      font-size: 4.8rem;
    }
  }

  &__paragraph{
    padding-bottom: 4rem;
    grid-column: 1/5;
    grid-row: 3/4;
    @include vieport-lg{
      grid-column: 1/4;
    }
  }

  &__card{
  @include border-grey($border-radius-md);
  padding: 2.4rem;
  flex: 0 0 100%;
  @include vieport-lg{
    flex-basis:49%;
  }
  @include vieport-xl{
    flex-basis: 32%;
  }
  }
  

  &__card_img{
    border-radius: $border-radius-sm;
    overflow: hidden;
    height: 210px;
    @include vieport-md{
      height: 240px;
    }

    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & h3{
    @include title-text(1.8rem);
    padding: 2rem 0 .8rem;
    @include vieport-md{
      font-size: 2rem;
    }
  }

  &__card_notes{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__card_note{
    @include border-grey($border-radius-lg);
    background: $second-bg;
    color: white;
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem;

    & > img{
      width: 20px;
      height: 20px;
    }
  }

  &__card_footer{
    display: grid;
    grid-template: auto/40% 10% 50%;

    & > a{
      grid-column: 2/4;
      grid-row: 1/3;
      text-decoration: none;
      color: white;
      background: $btn-color;
      border-radius: $border-radius-sm;
      text-align: center;
      @include flex-center;
      

      &:hover{
        @include vieport-lg{
          background: transparent;
          border: 2px solid $btn-color;
        }
      }
    }
  }

  &__card_value{
    grid-row: 2/3;
    @include title-text(1.8rem);
  }

  &__link{
    @include flex-center;
    width: 155px;
    height: 50px;
    padding: 0 1rem;
    text-decoration: none;
    color: white;
    background-color: $second-bg;
    @include border-grey($border-radius-sm);
    grid-column: 1/3;
    @include vieport-lg{
      grid-row: 3/4;
      grid-column: 4/5;
      justify-self: end;
      width: 165px;
    }
    @include vieport-xxl{
      width: 180px;
    }

    &:hover{
      border-color: transparent;
      background: $btn-color;
    }
  }

  &__btn_container{
    @include flex-center;
    gap: 1rem;
    grid-column: 3/5;
    justify-content: end;
    @include vieport-lg{
      justify-content: center;
      grid-column: 1/5;
    }
  }

  &__btn{
    cursor: pointer;
    @include border-grey($border-round);
    width: 44px;
    height: 44px;
    position: relative;
    &:hover{
      @include vieport-lg{
        border-color: $btn-color;
      }
    }

    &.right{
      background-color: $second-bg;
      & > .arrow{
        top: -10%;
        right: 18%;
        transform: rotate(0);
        & > span, &::before, &::after{
          background-color: white;
        }
      }
    }

    &.left{
      & > .arrow{
        top: 48%;
        right: 18%;
        transform: rotate(180deg);
      }

      &.onClick{
        background-color: $second-bg;
        &> .arrow{
          & > span, &::before, &::after{
            background-color: white;
          }
        }
      } 
    }
  }
}


// ? REWIEWS

.reviews {
padding-top: 4rem;
padding-bottom: 4rem;

  &__swiper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid $border-grey;
    @include vieport-lg{
      gap: 2rem;
    }
  }

  &__title{
    @include title-text(2.5rem);
    padding: 1rem 0;
    @include vieport-md{
      font-size: 3.8rem;
    }
    @include vieport-xxl{
      font-size: 4.8rem;
    }
  }

  &__paragraph{
    padding-bottom: 4rem;
  }

  &__card{
    @include border-grey($border-radius-md);
    padding: 4rem;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    @include vieport-lg{
      flex-basis:31.5%;
    }
    @include vieport-xl{
      flex-basis: 32%;
    }

    &.hidden {
      display: none;
    }
  }

  &__card_stars{
    width: 65%;
    @include vieport-md{
      width: 30%;
    }
    @include vieport-lg{
      width: 100%;
    }
    @include vieport-xl{
      width: 70%;
    }

    & > img{
      width: 100%;
      object-fit: cover;
    }
  }

  & h3{
    @include title-text(1.8rem);
    padding: 2rem 0 .8rem;
    @include vieport-md{
      font-size: 2rem;
    }
    @include vieport-xl{
      font-size: 2.4rem;
    }
  }

  &__card_text{
    color: white;
    flex-grow: 1;
  }

  &__card_footer{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-top: 2.5rem;
  }

  &__card_img {
    width: 50px;
    height: 50px;
    border-radius: $border-round;
    overflow: hidden;

    & > img{
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__card_name{
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    @include vieport-lg{
      font-size: 1.8rem;
    }
    @include vieport-xl{
      font-size: 2rem;
    }
  }

  &__btn_container{
    @include flex-center;
    gap: 1rem;
  }

  &__btn{
    cursor: pointer;
    @include border-grey($border-round);
    width: 44px;
    height: 44px;
    position: relative;
    &:hover{
      @include vieport-lg{
        border-color: $btn-color;
      }
    }

    &.right{
      background-color: $second-bg;
      & > .arrow{
        top: -10%;
        right: 18%;
        transform: rotate(0);
        & > span, &::before, &::after{
          background-color: white;
        }
      }
    }

    &.left{
      & > .arrow{
        top: 48%;
        right: 18%;
        transform: rotate(180deg);
      }

      &.onClick{
        background-color: $second-bg;
        &> .arrow{
          & > span, &::before, &::after{
            background-color: white;
          }
        }
      } 
    }
  }
}

