.property{
  padding-top: 4rem;
  padding-bottom: 2rem;
  @include vieport-lg{
    padding-top: 6rem;;
  }

&__top{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  @include vieport-lg{
    flex-wrap: nowrap;
    gap: 2rem;
  }
}

& h1{
  flex-basis: 100%;
  @include h2;
  @include vieport-lg{
    font-size: 2.8rem;
    flex-basis: auto;
  }
  @include vieport-xxl{
    font-size: 3rem;
  }
}

&__info{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  @include vieport-lg{
    flex-grow: 1;
    justify-content: space-between;
  }
}

&__geo{
  color: white;
  padding: .8rem;
  @include border-grey(6px);

  & > i{
    padding-right: .3rem;
    font-size: 1.5rem;
  }
}

&__price{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
  @include vieport-lg{
    flex-direction: column;
    align-items: start;
  }
  & > span{
    @include title-text(1.8rem);
    @include vieport-md{
      font-size: 2rem;
    }
    @include vieport-xxl{
      font-size: 2.4rem;
    }
  }
}


&__wrapper{
  margin-top: 3rem;
  padding: 2rem;
  background: $second-bg;
  @include border-grey($border-radius-md);
  @include vieport-lg{
    padding: 4rem;
  }
  @include vieport-xxl{
    padding: 5rem;
  }
}

  &__swiper {
    width: 100%;
    height: 250px;
    position: static;
    border-radius: $border-radius-sm;
    margin-bottom: 2rem;
    @include vieport-lg{
      height: 505px;
    }
    @include vieport-xxl{
      margin-bottom: 3rem;
      height: 580px;
    }
  }

  &__swiper-slide {
    width: 100%;

    & > img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__swiper-pagination{
    position: static;
  }

  &__swiper-button-prev, &__swiper-button-next {
    margin: 0;
    position: static;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    @include border-grey($border-round);
  }

  &__swiper-button-prev::after, &__swiper-button-next::after{
    font-size: 2rem;
    color: $btn-color;
    font-weight: 700;
  }

  &__swiper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $main-bg;
    padding: .8rem;
    @include border-grey(6rem);
    @include vieport-lg{
      width: 28%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }



}

// ?------SWIPER FOOTER---------------------

.swiper-pagination-bullet{
  border-radius: $border-radius-sm;
  width: 12px;
  height: 3px;
  background: #4d4d4d;
  opacity: 1;
  
}

.swiper-pagination-bullet-active{
  background: $btn-color;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  width: auto;
}



// !-----------DESCRIPTION SECTION-----------------

.description{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include vieport-lg{
    flex-direction: row;
    align-items: flex-start;
  }
  @include vieport-xxl{
    gap: 3rem;
  }

&__desc{
  padding: 2rem;
  @include border-grey($border-radius-sm);
  @include vieport-lg{
    padding: 4rem;
    flex: 1 1 50%;
  }
  @include vieport-xxl{
    padding: 5rem;
  }
}

&__title{
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  @include vieport-lg{
    font-size: 2rem;
  }
  @include vieport-xxl{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
}

&__text{
  padding-bottom: 2rem;
  border-bottom: 2px solid $border-grey;
  @include vieport-xxl{
    padding-bottom: 5rem;
  }
}

&__cards{
  @include flex-center;
  flex-wrap: wrap;
  @include vieport-lg{
    align-items: stretch;
  }
}

&__card:not(:last-of-type){
  margin: 2rem 0;
  flex: 1 1 50%;
  @include vieport-lg{
    flex-basis: 33%;
    margin-bottom: 0;
  }
}

&__card:nth-child(2){
  padding-left: 2rem;
  border-left: 2px solid $border-grey;
  @include vieport-lg{
    padding-left: 1rem;
  }
  @include vieport-xxl{
    padding-left: 2rem;
  }
}

&__card:last-child{
  padding-top: 2rem;
  border-top: 2px solid $border-grey;
  flex-basis: 100%;
  @include vieport-lg{
    flex: 1 1 33%;
    border-top: none;
    padding-top: 0;
    border-left: 2px solid $border-grey;
    padding-left: 1rem;
    margin-top: 2rem;
  }
  @include vieport-xxl{
    padding-left: 2rem;
  }
}

&__name{
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
  @include vieport-xxl{
    font-size: 1.8rem;
  }


  & > img{
    width: 20px;
    height: 20px;
    @include vieport-xxl{
      width: 24px;
      height: 24px;
    }
  }
}

&__value{
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  @include vieport-lg{
    font-size: 2rem;
  }
  @include vieport-xxl{
    font-size: 2.4rem;
  }
}

  &__second {
    padding: 2rem;
    @include border-grey($border-radius-md);
    @include vieport-lg{
      flex: 1 1 50%;
      padding: 4rem;
    }
    @include vieport-xxl{
      padding: 5rem;
    }

    &_title {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      color: white;
      font-weight: 600;
      @include vieport-lg{
        font-size: 2rem;
        margin-bottom: 4rem;
      }
      @include vieport-xxl{
        font-size: 2.4rem;
        margin-bottom: 5rem;
      }
    }

    &_keys {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      @include vieport-xxl{
        gap: 3rem;
      }
    }

    &_key {
      padding: 1rem 1.2rem;
      border-left: 2px solid $btn-color;
      display: flex;
      align-items: center;
      gap: 1rem;
      background-image: $gradient-properties;

      & > img{
        width: 18px;
        height: 18px;
        @include vieport-xxl{
          width: 24px;
          height: 24px;
        }
      }
    }
  
  }

}

// !-------------INQUIRE SECTION-----------------

.inquire{
  padding-top: 4rem;
  @include vieport-lg{
    display: flex;
    align-items: start;
    gap: 8rem;
  }
  @include vieport-xl{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  @include vieport-xxl{
    gap: 10rem;
  }

  &__container{
    @include vieport-lg{
      flex: 1 1 49%;
    }
  }

  &__title{
    @include h2;
  }

  &__form{
    margin-top: 4rem;
    padding: 2rem;
    @include flex-center;
    flex-direction: column;
    gap: 2rem;
    @include border-grey($border-radius-md);
    @include vieport-lg{
      flex: 1 1 80%;
      padding: 4rem;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3rem;
    }
    @include vieport-xxl{
      padding: 5rem;
    }
  }

  &__fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }


  &__label{
    @include title-text(1.6rem);
    @include vieport-xxl{
      font-size: 2rem;
    }
  }

  &__input, &__textarea{
    background: $second-bg;
    padding: 1.6rem 2rem;
    border-radius: $border-radius-sm;
    border: 1px solid $border-grey;
    color: $input-txt-color;
    font-size: 1.4rem;
    @include vieport-xxl{
      font-size: 1.8rem;
    }

    &:focus-visible{
      outline: 2px solid $btn-color;
    }
  }

  &__fieldset_selected{
    position: relative;
  }

  &__selected{
    color: white;
  }

  &__geo{
    color: white;
    position: absolute;
    bottom: 16%;
    right: 4%;
    font-size: 1.8rem;
  }

  &__textarea{
    resize: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
  }

  &__check{
    width: 100%;
  }

  &__submit{
    width: 100%;
    color: white;
    background-color: $btn-color;
    padding: 1.4rem 3.4rem;
    border-radius: $border-radius-sm;
    font-size: 1.4rem;
    white-space: nowrap;
    @include vieport-xxl{
      font-size: 1.8rem;
    }

    &:hover{
      background: $main-bg;
      border: 2px solid $btn-color;
    }
  }

  &__fieldset:nth-child(-n+4){
    @include vieport-lg{
      flex: 1 1 30%;
    }
  }

}

// !-------PRICING SECTION--------------

.pricing{
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include vieport-xl{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  &__title{
    @include h2;
  }

  &__note{
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 2.4rem 2rem;
    background: $second-bg;
    @include border-grey($border-radius-sm);
    @include vieport-lg{
      padding: 2rem 4rem;
      margin-top: 6rem;
      margin-bottom: 4rem;
      display: flex;
      align-items: center;
      gap: 2rem;
    }
    @include vieport-xxl{
      margin-top: 8rem;
      margin-bottom: 5rem;
      padding: 3rem 5rem;
    }

    & > h3{
      padding-bottom: 1rem;
      border-bottom: 2px solid $border-grey;
      @include title-text(1.8rem);
      @include vieport-lg{
        font-size: 2rem;
        border: none;
        padding: 0;
      }
      @include vieport-xxl{
        font-size: 2.4rem;
      }
    }
    & > p{
      padding-top: 1rem;
      @include vieport-lg{
        padding: 0;
      }
    }
  }

  &__wrapper{
    @include vieport-lg{
      display: grid;
      grid-template-columns: 21% 75%;
      gap: 4rem;
    }
    @include vieport-xl{
      grid-template-columns: 15% 82%;
    }
  }

  &__listing_price{
    & > p:nth-child(2){
      @include title-text(2.4rem);
      @include vieport-lg{
        font-size: 3rem;
      }
      @include vieport-xxl{
        font-size: 4rem;
      }
    }
  }

  &__card{
    padding: 2rem;
    @include border-grey($border-radius-md);
    margin-top: 2rem;
    @include vieport-lg{
      margin-top: 0;
      grid-column: 2/3;
      display: flex;
      flex-wrap: wrap;
    }
    @include vieport-xxl{
      padding: 5rem;
    }

    &.monthly{
      @include vieport-lg{
        display: block;
      }

      & > .pricing__card_section{
        border-left: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__card_title{
    @include title-text(1.8rem);
    padding-bottom: 2rem;
    flex: 1 1 100%;
    @include vieport-lg{
      font-size: 2rem;
      padding-bottom: 3rem;
    }
    @include vieport-xxl{
      font-size: 2.4rem;
      padding-bottom: 4rem;
    }
  }

  &__card_section{
    padding: 2rem 0;
    border-top: 2px solid $border-grey;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    @include vieport-lg{
      flex: 1 1 50%;
      padding: 3rem 2rem;
    }
    @include vieport-xxl{
      padding: 4rem 2rem;
    }

  }

  &__card_section:nth-child(odd){
    @include vieport-lg{
      border-left: 2px solid $border-grey;
    }
    
  }

  &__small{
    flex: 1 1 100%;
  }

  &__value{
    @include title-text(1.8rem);
    flex: 1 1 25%;
    @include vieport-xxl{
      font-size: 2rem;
    }

    &.down{
      flex-grow: 0;
      padding-right: 1.5rem;
    }

    &.million{
      flex-grow: 0;
      padding-right: 1.5rem;
    }
  }

  &__desc{
    flex: 1 1 70%;
    background: $second-bg;
    padding: 1rem;
    @include border-grey(6px);

    &.persent{
      flex: 0 1 10%;
      border-radius: $border-radius-lg;
    }

    &.applic{
      flex: 0 1 37%;
      border-radius: $border-radius-lg;
      @include vieport-lg{
        flex-grow: 1;
      }
    }

    &.cost{
      border-radius: $border-radius-lg;
    }
  }

}