.terms {
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;

  & h1{
    font-size: 3rem;
  }

  &  h2{
    @include h2;
    padding : 3rem 0;
  }

  & ul{
    list-style: circle;
  }

  &__small{
    padding-top: 2rem;
    font-size: 1.2rem;
  }

  & a{
    color: $btn-color;
  }

  & li{
    padding-top: 1rem;
  }
}