.journey{
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include vieport-lg{
    display: flex;
    justify-content: space-between;
  }
  @include vieport-xl{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  

  &__img{
    width: 100%;
    @include border-grey($border-radius-md);
    overflow: hidden;
    background: url('../img/AbstractDesign1.png') no-repeat center/cover;
    margin-bottom: 2rem;
    @include vieport-lg{
      margin-bottom: 0;
      order: 2;
      flex: 0 0 45%;
    }

    & > img {
      width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      height: 100%;
    }
  }


  &__main{
    @include vieport-lg{
      flex: 0 0 45%;
    }
  }

  &  h2{
    @include h2;
  }

  &__stats_container{
    padding-top: 4rem;
    @include flex-center;
    flex-wrap: wrap;
    gap: 1.5rem;
    @include vieport-lg{
      padding-top: 5rem;
      flex-wrap: nowrap;
    }
  }

  &__stat{
    border-radius: $border-radius-sm;
    background: $second-bg;
    padding: 1.8rem 0;
    text-align: center;
    flex: 1 1 45%;
    @include vieport-lg{
      flex-basis: 33%;
      text-align: start;
      padding: 2rem;
    }
  }

  &__number{
    @include title-text(2.4rem);
    padding-bottom: .5rem;
    @include vieport-md{
      font-size: 3rem;
    }
    @include vieport-xxl{
      font-size: 4rem;
    }
  }
}

// ?----------------------------VALUES SECTION----------------

.values{
  @include vieport-xl{
    display: flex;
    gap: 6rem;
    align-items: center;
  }

  &  h2{
    @include h2;
  }


  &__cards{
    margin-top: 4rem;
    border-radius: $border-radius-md;
    box-shadow: 0px 0px 2px 8px $second-bg;
    -webkit-box-shadow: 0px 0px 2px 8px $second-bg;
    -moz-box-shadow: 0px 0px 2px 8px $second-bg;
    padding: 2.4rem;
    @include vieport-lg{
    @include flex-center;
    flex-wrap: wrap;
    }
  }

  &__card{
    @include vieport-lg{
      flex: 1 1 50%;
    }
  }

  &__card:not(:last-of-type){
    border-bottom: 1px solid $border-grey;
    padding-bottom: 2rem;
    @include vieport-lg {
      padding-bottom: 0;
      border: none;
    }
    }
  &__card:not(:first-of-type){
    padding-top: 2rem;
    @include vieport-lg{
      padding-top: 0;
    }
  }

  &__card:first-child, &__card:nth-child(2){
    @include vieport-lg{
      padding-bottom: 2.4rem;
      border-bottom: 1px solid $border-grey;
    }
  }

  &__card:last-child, &__card:nth-child(3){
    @include vieport-lg{
      padding-top: 2.4rem;
    }
  }

  &__card:first-child, &__card:nth-child(3){
    @include vieport-lg{
      padding-right: 2.4rem;
    }
  }

  &__card:last-child, &__card:nth-child(2){
    @include vieport-lg{
      padding-left: 2.4rem;
      border-left: 1px solid $border-grey;
    }
  }

  &__card_head{
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-bottom: 1.5rem;
    @include vieport-lg{
      gap: 1rem;
    }
    @include vieport-xxl{
      gap: 1.4rem;
    }

    & > img{
      width: 52px;
      height: 52px;
      @include vieport-lg{
        width: 60px;
        height: 60px; 
      }
      @include vieport-xxl{
        width: 74px;
        height: 74px;
      }
    }
  }

  &__card_title{
    @include title-text(2rem);
    @include vieport-xxl{
      font-size: 2.4rem;
    }
  }
  

}

// ?-----------------ACHIEVEMENTS SECTION---------------------

.achieve{

  &  h2{
    @include h2;
  }

  &__cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    @include vieport-lg{
      margin-top: 6rem;
      flex-direction: row;
      gap: 3rem;
    }
    @include vieport-xxl{
      margin-top: 8rem;
    }
  }

  &__card{
    padding: 3rem;
    border-radius: $border-radius-sm;
    box-shadow: 0px 0px 2px 6px $second-bg;
    -webkit-box-shadow: 0px 0px 2px 6px $second-bg;
    -moz-box-shadow: 0px 0px 2px 6px $second-bg;
    @include vieport-lg{
      flex: 1 1 33.3%;
      padding: 4rem;
    }
    @include vieport-xxl{
      padding: 5rem;
    }
  }

  &__card_title{
    padding-bottom: 1rem;
    @include title-text(2rem);
    @include vieport-lg{
      font-size: 2.4rem;
    }
    @include vieport-xxl{
      font-size: 3rem;
    }
  }


}

// ?-----------------NAVIGATING SECTION-------------------

.navigating{
  

  &  h2{
    @include h2;
  }

  &__cards{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 850px;
    overflow-y: scroll;
    @include vieport-md{
      height: 700px;
    }
    @include vieport-lg{
      height: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-y: unset;
      row-gap: 4rem;
    }
  }

  &__card{
    border-left: 2px solid;
    border-image: linear-gradient(131deg, #703BF7 4%, #703BF7 -87%, #262626 33%) 1;
    border-bottom: 2px solid $border-grey;
    @include vieport-lg{
      flex: 1 1 30%;
      align-self: flex-start;
    }
    @include vieport-xl {
      align-self: stretch;
    }
  }


  &__step{
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.4rem 1.6rem;
    @include vieport-xxl{
      font-size: 2rem;
    }
  }

  & h3{
    @include title-text(1.8rem);
    padding-bottom: 1.4rem;
    @include vieport-lg{
      font-size: 2rem;
    }
    @include vieport-xxl{
      font-size: 2.6rem;
    }
  }

  &__card_container{
    padding: 3rem;
    background-image: $gradient-cards;  
    border-top: 2px solid;
    border-image: linear-gradient(131deg, #703BF7 4%, #703BF7 -87%, #262626 33%) 1;  
    border-right: 2px solid $border-grey;
    @include vieport-lg{
      padding: 4rem;
    }
    @include vieport-xxl{
      padding: 5rem;
    }
  }

  &__card:nth-of-type(3) &__card_container{
    @include vieport-xl{
      padding-bottom: 6.5rem;
    }
    @include vieport-xxl{
      padding-bottom: 7.6rem;
    }
  }

  &__card:nth-of-type(6) &__card_container{
    @include vieport-xxl{
      padding-bottom: 7.6rem;
    }
  }

}

// ?--------------------TEAM SECTION-----------------------

.team{

  &__title{
    padding : 1rem 0;
    @include title-text(2.8rem);
    @include vieport-md{
      font-size: 3.8rem;
    }
    @include vieport-xxl{
      font-size: 4.8rem;
    }
  }

  &__cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    @include vieport-md{
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3rem;
      row-gap: 4.5rem;
    }
    @include vieport-lg{
      flex-wrap: nowrap;
      gap: 2rem;
    }
    @include vieport-xxl{
      gap: 3rem;
    }
  }

  &__card{
    padding: 2rem;
    @include border-grey($border-radius-md);
    position: relative;
    text-align: center;
    @include vieport-md{
      flex: 1 1 45%;
    }
    @include vieport-xxl{
      padding: 3rem;
    }
  }

  &__card_photo{
    border-radius: $border-radius-sm;
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin-bottom: 4rem;
    @include vieport-lg {
      height: 220px;
    }
    @include vieport-xxl{
      height: 253px;
    }

    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card_btn{
    text-decoration: none;
    color: white;
    background: $btn-color;
    font-size: 2rem;
    padding: .5rem 2rem;
    border-radius: $border-radius-lg;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    @include vieport-lg{
      top: 58%;
    }
    @include vieport-xl{
      top: 62%;
    }
    @include vieport-xxl{
      font-size: 2.4rem;
    }

    &:hover{
      color: $btn-color;
      background: white;
      border: 2px solid $btn-color;
    }
  }

  & h3{
    @include title-text(1.8rem);
    margin-bottom: 1rem;
    @include vieport-lg{
      font-size: 2rem;
    }
    @include vieport-xxl{
      font-size: 2.4rem;
    }
  }
}

// ?--------------------CLIENTS SECTION-------------------

.clients{

  & > h2{
    @include h2;
  }

  &__cards{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include vieport-md{
      gap: 4rem;
    }
    @include vieport-lg{
      flex-direction: row;
    }
  }

  &__card{
    padding: 2.4rem;
    border-radius: $border-radius-sm;
    box-shadow: 0px 0px 2px 8px $second-bg;
    -webkit-box-shadow: 0px 0px 2px 8px $second-bg;
    -moz-box-shadow: 0px 0px 2px 8px $second-bg;
    @include vieport-lg{
      padding: 4rem;
    }
    @include vieport-xxl{
      padding: 5rem;
    }

    & h3{
      @include title-text(2rem);
      padding-top: 1rem;
      @include vieport-lg{
        font-size: 2.4rem;
      }
      @include vieport-xxl{
        font-size: 3rem;
      }
    }
  }

  &__card_top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include vieport-lg{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__card_btn{
    text-decoration: none;
    color: white;
    background: $second-bg;
    padding: 1.4rem 2rem;
    text-align: center;
    border-radius: $border-radius-sm;
    white-space: nowrap;

    &:hover{
      border: 2px solid $btn-color;
    }
  }

  &__card_middle{
    margin: 3rem 0;
    display: flex;
  }

  &__card_block{
    flex: 1 1 50%;
  }

  &__card_block.first{
    padding-right: 1.6rem;
  }

  &__card_block.second{
    padding-left: 1.6rem;
    border-left: 1px solid $border-grey;
  }

  &__card_sub{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-bottom: .5rem;
    @include vieport-lg{
      font-size: 1.4rem;
    }
    @include vieport-xxl{
      font-size: 1.8rem;
    }

    & > img{
      width: 18px;
      height: 18px;
      @include vieport-xxl{
        width: 2.4rem;
        height:2.4rem;
      }
    }
  }

  &__card_desc{
    color: white;
    font-weight: 500;
  }

  &__card_footer{
    padding: 2rem;
    @include border-grey($border-radius-md);
    font-weight: 500;
  }

  &__card_comment{
    color: white;
    margin-top: 1rem;
  }

}