.dream{
  @include vieport-lg{
    position: relative;
  }


  &__txt{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: $gradient-properties;
    margin-bottom: 4rem;
    @include vieport-lg{
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
    @include vieport-xxl{
      padding-top: 15rem;
      padding-bottom: 15rem;
    }
  }

  & h1{
    margin-bottom: 1rem;
    font-size: 2.7rem;
    @include vieport-md{
      font-size: 3.8rem;
    }
    @include vieport-xxl{
      font-size: 4.8rem;
    }
  }

  &__form{
    margin: 0 3rem;
    position: relative;
    @include vieport-lg{
      position: absolute;
      bottom: 5rem;
      left: 10%;
      right: 10%;
    }
    @include vieport-xxl{
      left: 15%;
      right: 15%;
    }
  }

  &__options{
    position: absolute;
    width: 100%;
    height: 15rem;
    bottom: -16rem;
    left: 0;
    padding: 1rem;
    border: 2px solid $btn-color;
    border-radius: $border-radius-sm;
    background: $main-bg;
    overflow-y: auto ;
    z-index: 99999;
    @include vieport-md{
      height: 17rem;
      bottom: -18rem;
    }
    @include vieport-xxl{
      height: 20rem;
      bottom: -21rem;
    }

    & > li{
      cursor: pointer;
      padding: .3rem;

      &:hover{
        color: white;
      }
    }
  }

  &__search{
    width: 100%;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 2px 4px $border-grey;
    -webkit-box-shadow: 0px 0px 2px 4px $border-grey;
    -moz-box-shadow: 0px 0px 2px 4px $border-grey;
    background: $main-bg;
    border: 1px solid $border-grey;
    border-radius: $border-radius-md;
    color: white;
    font-size: 1.6rem;
    position: relative;
    @include vieport-lg{
      font-size: 2rem;
    }
    @include vieport-lg{
      box-shadow: 0px 0px 2px 6px $border-grey;
      -webkit-box-shadow: 0px 0px 2px 6px $border-grey;
      -moz-box-shadow: 0px 0px 2px 6px $border-grey;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include vieport-xxl{
      font-size: 2.4rem;
    }

    &:focus-visible{
      outline: 2px solid $btn-color;
    }
  }

  & button{
    background: $btn-color;
    color: white;
    font-size: 1.8rem;
    padding: 1rem 1.8rem;
    border-radius: $border-radius-sm;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__span{
    display: none;
    @include vieport-md{
      display: inline;
      font-size: 1.5rem;
      font-weight: normal;
      padding-left: .5rem;
    }
    @include vieport-xxl{
      font-size: 1.8rem;
    }
  }
}


// ?-----------------------featured_swiper section--------------

.featured_swiper{
  position: relative;

  & h3{
    @include title-text(1.8rem);
    margin: 2rem 0 .8rem;
    @include vieport-md{
      font-size: 2rem;
    }
  }

  & .featured__btn_container{
    justify-content: space-between;
    @include vieport-lg{
      justify-content: center;
    }
  }
}

// ?---------------------------HAPPEN(form)SECTION-------------

.happen {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include vieport-xl{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  & h2{
    @include h2;
  }

  &__paragraph{
    margin-bottom: 4rem;
    @include vieport-md{
      margin-bottom: 6rem;
    }
    @include vieport-xxl{
      margin-bottom: 8rem;
    }
  }

  & form {
    border: 3px solid $border-grey;
    border-radius: $border-radius-md;
    padding: 2rem;
    @include vieport-lg{
      padding: 5rem;
      display: grid;
      grid-template: auto/repeat(4, 1fr);
      gap: 3rem;
    }
    @include vieport-xxl{
      padding: 10rem;
      gap: 5rem;
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    @include vieport-lg{
      margin-bottom: 0;
    }
  }

  &__label {
    @include title-text(1.6rem);
    margin-bottom: 1rem;
    @include vieport-xxl{
      font-size: 2rem;
    }
  }

  &__input, &__select {
    background: $second-bg;
    padding: 1.6rem 2rem;
    border-radius: $border-radius-sm;
    border: 1px solid $border-grey;
    color: $input-txt-color;
    font-size: 1.4rem;
    @include vieport-xxl{
      font-size: 1.8rem;
    }

    &:focus-visible{
      outline: 2px solid $btn-color;
    }
  }

  &__input, &__select:not(.happen__budget_select){
    @include vieport-lg{
      width: 183px;
      white-space: normal;
    }
    @include vieport-xl{
      width: auto;
    }
  }

  &__select:not(.happen__budget_select){
    @include vieport-lg{
      height: 72px;
    }
    @include vieport-xl{
      height: auto;
    }
  }


  &__textarea {
    background: $second-bg;
    padding: 1.6rem 2rem;
    border-radius: $border-radius-sm;
    border: 1px solid $border-grey;
    color: $input-txt-color;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    resize: none;
    margin-bottom: 1rem;
    @include vieport-lg{
      font-size: 1.6rem;
    }
    @include vieport-xxl{
      font-size: 1.8rem;
    }

    &:focus-visible{
      outline: 2px solid $btn-color;
    }
  }

  &__check{
    flex-direction: row;
    @include vieport-lg{
      grid-column: 1/4;
    }

    & label{
      font-size: 1.3rem;
      font-weight: 500;
      color: $text-color;
      margin-bottom: 0;
      padding-left: 2.7rem;
      position: relative;
      cursor: pointer;
      @include vieport-lg{
        font-size: 1.4rem;
      }
      @include vieport-xxl{
        font-size: 1.8rem;
        padding-left: 3.7rem;
      }

      & > a{
        color: $text-color;
        &:hover{
          color: $btn-color;
        }
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $border-grey;
        background-color: $second-bg;
        @include vieport-xxl{
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -10;
    opacity: 0;

    &:checked + .happen__agree::before{
      border: 2px solid $btn-color;
    }

    &:checked + .happen__agree::after{
      content: '';
      position: absolute;
      top: 0;
      left: 8px;
      width: 6px;
      height: 15px;
      border-bottom: 2px solid $btn-color;
      border-right: 2px solid $btn-color;
      transform: rotate(38deg);
      @include vieport-xxl{
        width: 9px;
        height: 18px;
      }
    }
  }

  & button{
    width: 100%;
    color: white;
    background-color: $btn-color;
    padding: 1.4rem 3.4rem;
    border-radius: $border-radius-sm;
    font-size: 1.4rem;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid transparent;
    @include vieport-xxl{
      font-size: 1.8rem;
    }

    &:hover{
      background: $main-bg;
      border-color: $btn-color;
    }
  }

  &__budget{
    @include vieport-lg{
      grid-column: 1/5;
    }
  }

  &__message{
    @include vieport-lg{
      grid-column: 1/5;
    }
  }








}