<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="404 page. Page not found.">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/icon16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/icon32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="../assets/icons/icon48.png">
    <link rel="stylesheet" href="../assets/css/style.min.css" />
  <title>404 Page not found</title>
</head>
<body>
  <div class="error">
    <h1 class="error__h1">404</h1>
    <h2 class="error__h2">Page not found</h2>
    <p class="error__p">The Page you are looking for doesn't exist or an other error occurred.<br/>Go back, or head over to the <a href="/index.php?route=home">Home page</a></p>
  </div>
</body>
</html>