{% extends 'layout.html.twig' %}

{% block description %}
  On  this page it's all information about global agency for the selection and sale of real estate.
{% endblock %}

{% block preload %}
  <link rel="preload" href="/RealEstateAgency/assets/img/ImageHand.webp" as="image">
{% endblock %}

{% block title %}
  About us.
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    <section class="journey">
      <h1 class="sr-only">All important information about us</h1>
      <div class="journey__img">
        <img src="/RealEstateAgency/assets/img/ImageHand.webp" alt="House in your hand" width="312" height="226">
      </div>

      <div class="journey__main">
        <div class="stars">
          <img src="/RealEstateAgency/assets/icons/star.png" alt="stars icon" width="46" height="20">
        </div>
        <article class="journey__article">
          <h2>Our Journey</h2>
          <p class="journey__paragraph">Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary. Over the years, we've expanded our reach, forged valuable partnerships, and gained the trust of countless clients.</p>
        </article>
        <div class="journey__stats_container">
          <div class="journey__stat">
            <p class="journey__number">
              200+
            </p>
            <p class="journey__stat_desk">
              Happy Customers
            </p>
          </div>
          <div class="journey__stat">
            <p class="journey__number">
              10k+
            </p>
            <p class="journey__stat_desk">
              Properties For Clients
            </p>
          </div>
          <div class="journey__stat">
            <p class="journey__number">
              16+
            </p>
            <p class="journey__stat_desk">
              Years of Experience
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="values">
      <h2 class="sr-only">We always provide the best for our clients</h2>
      <article>
        <div class="stars">
          <img src="/RealEstateAgency/assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
        </div>
        <h2>Our Values</h2>
        <p>Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary.</p>
      </article>

      <div class="values__cards">
        <div class="values__card">
          <div class="values__card_head">
            <img src="/RealEstateAgency/assets/icons/Trust.png" loading="lazy" alt="star icon" width="52" height="52">
            <h3 class="values__card_title">Trust</h3>
          </div>
          <p class="values__card_text">Trust is the cornerstone of every successful real estate transaction.</p>
        </div>
        <div class="values__card">
          <div class="values__card_head">
            <img src="/RealEstateAgency/assets/icons/excellence.png" loading="lazy" alt="Exsellence icon" width="52" height="52">
            <h3 class="values__card_title">Excellence</h3>
          </div>
          <p class="values__card_text">We set the bar high for ourselves. From the properties we list to the services we provide.</p>
        </div>
        <div class="values__card">
          <div class="values__card_head">
            <img src="/RealEstateAgency/assets/icons/client.png" loading="lazy" alt="clients icon" width="52" height="52">
            <h3 class="values__card_title">Client-Centric</h3>
          </div>
          <p class="values__card_text">Your dreams and needs are at the center of our universe. We listen, understand.</p>
        </div>
        <div class="values__card">
          <div class="values__card_head">
            <img src="/RealEstateAgency/assets/icons/Trust.png" loading="lazy" alt="star icon" width="52" height="52">
            <h3 class="values__card_title">Our Commitment</h3>
          </div>
          <p class="values__card_text">We are dedicated to providing you with the highest level of service, professionalism</p>
        </div>
      </div>
    </section>

    <section class="achieve">
      <h2 class="sr-only">Our story is one of continuous growth and evolution </h2>
      <article>
        <div class="stars">
          <img src="/RealEstateAgency/assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
        </div>
        <h2>Our Achievements</h2>
        <p>Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary.</p>
      </article>

      <div class="achieve__cards">
        <div class="achieve__card">
          <h3 class="achieve__card_title">3+ Years of Excellence</h3>
          <p>With over 3 years in the industry, we've amassed a wealth of knowledge and experience.</p>
        </div>
        <div class="achieve__card">
          <h3 class="achieve__card_title">Happy Clients</h3>
          <p>Our greatest achievement is the satisfaction of our clients. Their success stories fuel our passion for what we do.</p>
        </div>
        <div class="achieve__card">
          <h3 class="achieve__card_title">Industry Recognition</h3>
          <p>We've earned the respect of our peers and industry leaders, with accolades and awards that reflect our commitment to excellence.</p>
        </div>
      </div>
    </section>

    <section class="navigating">
      <h2 class="sr-only">we've designed a straightforward process to help you</h2>
      <article>
        <div class="stars">
          <img src="/RealEstateAgency/assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
        </div>
        <h2>Navigating the Estatein Experience</h2>
        <p>At Estatein, we've designed a straightforward process to help you find and purchase your dream property with ease. Here's a step-by-step guide to how it all works.</p>
      </article>
      <div class="navigating__cards">
        <div class="navigating__card">
          <p class="navigating__step">Step 01</p> 
          <div class="navigating__card_container">
            <h3>Discover a World of Possibilities</h3>
            <p>Your journey begins with exploring our carefully curated property listings. Use our intuitive search tools to filter properties based on your preferences, including location,</p>
          </div>
        </div>
        <div class="navigating__card">
          <p class="navigating__step">Step 02</p> 
          <div class="navigating__card_container">
            <h3>Narrowing Down Your Choices</h3>
            <p>Once you've found properties that catch your eye, save them to your account or make a shortlist. This allows you to compare and revisit your favorites as you make your decision.</p>
          </div>
        </div>
        <div class="navigating__card">
          <p class="navigating__step">Step 03</p> 
          <div class="navigating__card_container">
            <h3>Personalized Guidance</h3>
            <p>Have questions about a property or need more information? Our dedicated team of real estate experts is just a call or message away.</p>
          </div>
        </div>
        <div class="navigating__card">
          <p class="navigating__step">Step 04</p> 
          <div class="navigating__card_container">
            <h3>See It for Yourself</h3>
            <p>Arrange viewings of the properties you're interested in. We'll coordinate with the property owners and accompany you to ensure you get a firsthand look at your potential new home.</p>
          </div>
        </div>
        <div class="navigating__card">
          <p class="navigating__step">Step 05</p> 
          <div class="navigating__card_container">
            <h3>Making Informed Decisions</h3>
            <p>Before making an offer, our team will assist you with due diligence, including property inspections, legal checks, and market analysis. We want you to be fully informed.</p>
          </div>
        </div>
        <div class="navigating__card">
          <p class="navigating__step">Step 06</p> 
          <div class="navigating__card_container">
            <h3>Getting the Best Deal</h3>
            <p>We'll help you negotiate the best terms and prepare your offer. Our goal is to secure the property at the right price and on favorable terms.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="stars">
        <img src="/RealEstateAgency/assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
      </div>
      <h2 class="team__title">Meet the Estatein Team</h2>
      <p>At Estatein, our success is driven by the dedication and expertise of our team. Get to know the people behind our mission to make your real estate dreams a reality.</p>
      <div class="team__cards">
        <div class="team__card">
          <div class="team__card_photo">
            <img src="/RealEstateAgency/assets/img/team/Max.webp" loading="lazy" alt="Max Mitchell Founder" width="272" height="270">
          </div>
          <a href="https://x.com/?lang=fr" target="_blank" aria-label="twitter" class="team__card_btn"><i class="fa-brands fa-twitter"></i></a>
          <h3>Max Mitchell</h3>
          <p>Founder</p>
        </div>
        <div class="team__card">
          <div class="team__card_photo">
            <img src="/RealEstateAgency/assets/img/team/sarah.webp" loading="lazy" alt="Sarah Johnson Chief Real Estate Officer" width="272" height="270">
          </div>
          <a href="https://x.com/?lang=fr" target="_blank" aria-label="twitter" class="team__card_btn"><i class="fa-brands fa-twitter"></i></a>
          <h3>Sarah Johnson</h3>
          <p>Chief Real Estate Officer</p>
        </div>
        <div class="team__card">
          <div class="team__card_photo">
            <img src="/RealEstateAgency/assets/img/team/david.webp" loading="lazy" alt="David Brown Head of Property Management" width="272" height="270">
          </div>
          <a href="https://x.com/?lang=fr" target="_blank" aria-label="twitter" class="team__card_btn"><i class="fa-brands fa-twitter"></i></a>
          <h3>David Brown</h3>
          <p>Head of Property Management</p>
        </div>
        <div class="team__card">
          <div class="team__card_photo">
            <img src="/RealEstateAgency/assets/img/team/michael.webp" loading="lazy" alt="Michael Turner Legal Counsel" width="272" height="270">
          </div>
          <a href="https://x.com/?lang=fr" target="_blank" aria-label="twitter" class="team__card_btn"><i class="fa-brands fa-twitter"></i></a>
          <h3>Michael Turner</h3>
          <p>Legal Counsel</p>
        </div>
      </div>
    </section>

    <section class="clients">
      <div class="stars">
        <img src="/RealEstateAgency/assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
      </div>
      <h2>Our Valued Clients</h2>
      <p>At Estatein, we have had the privilege of working with a diverse range of clients across various industries. Here are some of the clients we've had the pleasure of serving</p>
      <div class="clients__cards">
        <div class="clients__card">
          <div class="clients__card_top">
            <div class="clients__card_top_txt">
              <p class="clients__card_since">Since 2019</p>
              <h3>ABC Corporation</h3>
            </div>
            <a class="clients__card_btn" href="https://www.linkedin.com/in/maksym-voznichka/" target="_blank">Visit Website</a>
          </div>
          <div class="clients__card_middle">
            <div class="clients__card_block first">
              <p class="clients__card_sub">
                <img src="/RealEstateAgency/assets/icons/domain.svg" loading="lazy" alt="domain icon" width="18" height="18">
                Domain
              </p>
              <p class="clients__card_desc">Commercial Real Estate</p>
            </div>
            <div class="clients__card_block second">
              <p class="clients__card_sub">
                <img src="/RealEstateAgency/assets/icons/category.svg" loading="lazy" alt="category icon" width="18" height="18">
                Category
              </p>
              <p class="clients__card_desc">Luxury Home Development</p>
            </div>
          </div>
          <div class="clients__card_footer">
            <p class="clients__card_said">What They Said 🤗</p>
            <p class="clients__card_comment">
              Estatein's expertise in finding the perfect office space for our expanding operations was invaluable. They truly understand our business needs.
            </p>
          </div>
        </div>

        <div class="clients__card">
          <div class="clients__card_top">
            <div class="clients__card_top_txt">
              <p class="clients__card_since">Since 2018</p>
              <h3>GreenTech Enterprises</h3>
            </div>
            <a class="clients__card_btn" href="https://www.linkedin.com/in/maksym-voznichka/" target="_blank">Visit Website</a>
          </div>
          <div class="clients__card_middle">
            <div class="clients__card_block first">
              <p class="clients__card_sub">
                <img src="/RealEstateAgency/assets/icons/domain.svg" loading="lazy" alt="domain icon" width="18" height="18">
                Domain
              </p>
              <p class="clients__card_desc">Commercial Real Estate</p>
            </div>
            <div class="clients__card_block second">
              <p class="clients__card_sub">
                <img src="/RealEstateAgency/assets/icons/category.svg" loading="lazy" alt="category icon" width="18" height="18">
                Category
              </p>
              <p class="clients__card_desc">Retail Space</p>
            </div>
          </div>
          <div class="clients__card_footer">
            <p class="clients__card_said">What They Said 🤗</p>
            <p class="clients__card_comment">
              Estatein's ability to identify prime retail locations helped us expand our brand presence. They are a trusted partner in our growth.
            </p>
          </div>
        </div>

      </div>
    </section>

  </div>
{% endblock %}