{% extends 'admin.html.twig' %}

{% block content %}
<main>
    <section class="position-fixed top-50 start-50 px-5" style="transform: translate(-50%, -50%)">
        <h1 class="text-center">WELCOME </br>{{ email }}</h1>
        <p class="text-center mt-5">Have a good working day</p>
        <p class="text-center">
            <img src="/RealEstateAgency/assets/icons/icon16.png" alt="Etatein logo" width="16" height="16">
            Estatein
        </p>
    </section>
</main>
{% endblock %}