{% extends 'layout.html.twig' %}

{% block description %}
  Contacts page Estatein Real Estate Agency.
{% endblock %}

{% block preload %}
  <link rel="preload" href="../assets/img/Abstraction.webp" as="image">
{% endblock %}

{% block title %}
  Contact us.
  {{ parent() }}
{% endblock %}

{% block content %}
    <!-- ******SECTION TAKEN FROM PROPERTIES PAGE -->
    <section class="dream dream_contact">
      <h1 class="sr-only">Contact us and get the most favorable conditions on the market.</h1>
      <div class="dream__txt dream_contact__txt">
        <div class="container">
          <h2>Get in Touch with Estatein</h2>
        <p>Welcome to Estatein's Contact Us page. We're here to assist you with any inquiries, requests, or feedback you may have.</p>
        </div>
      </div>
    </section>

    <!-- *********SECTION TAKEN FROM HOME PAGE -->
    <section class="services__blocks">
      <h2 class="sr-only">Contact information Estatein Real Estate Agency</h2>
      <div class="home_top__cards contact__cards">
        <div class="home_top__card contact__card">
          <img src="../assets/icons/message.png" alt="message icon" loading="lazy" width="48" height="48">
          <p class="home_top__card_desc contact__card_desc">
            <a href="mailto:info@estatein.com">info@estatein.com</a>
          </p>

          <div class="arrow">
            <span></span>
          </div>
          
        </div>

        <div class="home_top__card contact__card">
          <img src="../assets/icons/phone.png" alt="Phone icon" loading="lazy" width="48" height="48">
          <p class="home_top__card_desc contact__card_desc">
            <a href="tel:+11234567890">+1 (123) 456-7890</a>
          </p>
          <div class="arrow">
            <span></span>
          </div>
        </div>

        <div class="home_top__card contact__card">
          <img src="../assets/icons/position.png" loading="lazy" alt="Geo icon" width="48" height="48">
          <p class="home_top__card_desc contact__card_desc">
            <a href="https://maps.app.goo.gl/EwnGb4CFdnhXRG5Z6" target="_blank">Main Headquarters</a>
          </p>
          <div class="arrow">
            <span></span>
          </div>
        </div>

        <div class="home_top__card contact__card">
          <img src="../assets/icons/fire.png" loading="lazy" alt="Fire icon" width="48" height="48">
          <p class="home_top__card_desc contact__card_desc contact__social">
            <a href="https://www.instagram.com/" target="_blank">Instagram</a>
            <a href="https://www.linkedin.com/in/maksym-voznichka/" target="_blank">LinkedIn</a>
            <a href="https://fr-fr.facebook.com/" target="_blank">Facebook</a>
          </p>
          <div class="arrow">
            <span></span>
          </div>
        </div>
      </div>
    </section>

    <!-- !SECTION CONNECT -->
    <section class="connect container">
      <div class="stars">
        <img src="../assets/icons/star.png" alt="stars icon" loading="lazy" width="46" height="20">
      </div>
      <h2 class="connect__title">Let's Connect</h2>
      <p>We're excited to connect with you and learn more about your real estate goals. Use the form below to get in touch with Estatein.</p>

      <form action="index.php?route=contact" method="POST" class="connect__form" novalidate>
        <input type="hidden" name="csrf-token" id="csrf-token-1" value="{{ csrf_token }}" />
        <fieldset class="connect__fieldset">
          <label for="first_name_conn" class="connect__label">First Name</label>
          <input type="text" class="connect__input" name="first_name_conn" id="first_name_conn" placeholder="Enter First Name">
        </fieldset>

        <fieldset class="connect__fieldset">
          <label for="last_name_conn" class="connect__label">Last Name</label>
          <input type="text" class="connect__input" name="last_name_conn" id="last_name_conn" placeholder="Enter Last Name">
        </fieldset>

        <fieldset class="connect__fieldset">
          <label for="email_conn" class="connect__label">Email</label>
          <input type="email" class="connect__input" name="email_conn" id="email_conn" placeholder="Enter your Email">
        </fieldset>

        <fieldset class="connect__fieldset">
          <label for="phone_conn" class="connect__label">Phone</label>
          <input type="tel" class="connect__input" name="phone_conn" id="phone_conn" placeholder="Enter Phone Number">
        </fieldset>

        <fieldset class="connect__fieldset">
          <label for="inquiry_conn" class="connect__label">Inquiry Type</label>
          <select class="connect__select" name="inquiry_conn" id="inquiry_conn">
            <option value="" disabled selected hidden>Select Inquiry Type</option>
            <option value="Sell">Sell</option>
            <option value="Buy">Buy</option>
          </select>
        </fieldset>

        <fieldset class="connect__fieldset">
          <label for="hear_conn" class="connect__label">How Did You Hear About Us?</label>
          <select class="connect__select" name="hear_conn" id="hear_conn">
            <option value="" selected hidden>Select</option>
            <option value="recommendation">By recommendation</option>
            <option value="google">Google Ads</option>
            <option value="fb">Fb/Inst Ads</option>
          </select>
        </fieldset>

        <fieldset class="connect__fieldset">
          <label for="message_conn" class="connect__label">Message</label>
          <textarea class="connect__textarea" name="message_conn" id="message_conn" placeholder="Enter your Message here.." rows="4">
          </textarea>
        </fieldset>
        <!-- ****BLOCK TAKEN FROM PROPERTY DETAILS PAGE -->
        <fieldset class="happen__check happen__fieldset connect__check">
          <input type="checkbox" id="agree_conn" name="agree_conn" class="happen__checkbox">
          <label for="agree_conn" class="happen__agree happen__label">I agree with <a href="index.php?route=terms">Terms of Use & Privacy Policy</a></label>
        </fieldset>

        <button type="submit" class="connect__submit">Send Your Message</button>
      </form>
    </section>

    <!-- !!!!SECTION LOCATION -->
    <section class="location container">
      <div class="stars">
        <img src="../assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
      </div>
      <h2 class="location__title">Discover Our Office Locations</h2>
      <p>Estatein is here to serve you across multiple locations. Whether you're looking to meet our team.</p>

      <div class="location__cards">
        <article class="location__card">
          <h3>Main Headquarters</h3>
          <p class="location__adress">123 Estatein Plaza, City Center, Metropolis</p>
          <p class="location__text">Our main headquarters serve as the heart of Estatein. Located in the bustling city center, this is where our core team of experts operates, driving the excellence and innovation that define us.</p>
          <div class="location__notes_container">
            <div class="location__note">
              <a href="mailto:info@estatein.com">
                <i class="fa-solid fa-envelope"></i>
                info@estatein.com
              </a>
            </div>
            <div class="location__note">
              <a href="tel:+11234567890">
                <i class="fa-solid fa-phone"></i>
                +1 (123) 456-7890
              </a>
            </div>
            <div class="location__note">
              <a href="https://maps.app.goo.gl/EwnGb4CFdnhXRG5Z6" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                Metropolis
              </a>
            </div>
          </div>
          <div class="location__btn">
            <a href="https://maps.app.goo.gl/EwnGb4CFdnhXRG5Z6" target="_blank">Get Direction</a>
          </div>
        </article>

        <article class="location__card">
          <h3>Regional Offices</h3>
          <p class="location__adress">456 Urban Avenue, Downtown District, Metropolis</p>
          <p class="location__text">Estatein's presence extends to multiple regions, each with its own dynamic real estate landscape. Discover our regional offices, staffed by local experts who understand the nuances of their respective markets.</p>
          <div class="location__notes_container">
            <div class="location__note">
              <a href="mailto:info@estatein.com">
                <i class="fa-solid fa-envelope"></i> 
                info@estatein.com
              </a>
            </div>
            <div class="location__note">
              <a href="tel:+11234567890">
                <i class="fa-solid fa-phone"></i>
                +1 (123) 456-7890
              </a>
            </div>
            <div class="location__note">
              <a href="https://maps.app.goo.gl/EwnGb4CFdnhXRG5Z6" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                Metropolis
              </a>
            </div>
          </div>
          <div class="location__btn">
            <a href="https://maps.app.goo.gl/EwnGb4CFdnhXRG5Z6" target="_blank">Get Direction</a>
          </div>
        </article>
      </div>
    </section>

    <!-- !!!!!WORLD SECTION -->
    <section class="world container">
      <h2 class="sr-only">Our life</h2>
      <div class="world__container">
        <div class="world__card">
          <img src="../assets/img/office.webp" loading="lazy" alt="Our office" width="127" height="70">
        </div>
        <div class="world__card">
          <img src="../assets/img/team.webp" loading="lazy" alt="Our team" width="127" height="70">
        </div>
        <div class="world__card">
          <img src="../assets/img/teamWork.webp" loading="lazy" alt="Working process" width="127" height="70">
        </div>
        <div class="world__card">
          <img src="../assets/img/team2.webp" loading="lazy" alt="Our team" width="59" height="70">
        </div>
        <div class="world__card">
          <img src="../assets/img/team3.webp" loading="lazy" alt="Our team" width="59" height="70">
        </div>
        <article class="world__card">
          <div class="stars">
            <img src="../assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
          </div>
          <h2 class="world__title">Explore Estatein's World</h2>
          <p>Step inside the world of Estatein, where professionalism meets warmth, and expertise meets passion. Our gallery offers a glimpse into our team and workspaces, inviting you to get to know us better.</p>
        </article>
        <div class="world__card">
          <img src="../assets/img/client.webp" loading="lazy" alt="handshake" width="264" height="150">
        </div>
      </div>
    </section>
{% endblock %}

{% block pop_up %}
  <!-- ? POP_UP FORM SUCCESS -->
  <div class="pop-up {% if formValid is not defined or formValid is same as false %}hidden{% endif %}">
    <article class="pop-up__article">
      <div class="pop-up__logo">
        <img src="../assets/img/Logo.png" loading="lazy" alt="Logo of Estatein" width="93" height="28">
      </div>
      <h2>Thank you for your submission!</h2>
      <p>Our team at Estatein will review your information and get back to you shortly. </p>
      <p>Have a great day!</p>
      <div class="pop-up__close" tabindex="0" aria-label="Close pop-up"></div>
    </article>
  </div>
{% endblock %}


