{% block pop_up %}
<!-- ? POP_UP FORM SUCCESS -->
  <div class="pop-up hidden">
    <article class="pop-up__article">
      <div class="pop-up__logo">
        <img src="../assets/img/Logo.png" alt="Logo of Estatein" width="93" height="28">
      </div>
      <h2>Thank you for your submission!</h2>
      <p>Our team at Estatein will review your information and get back to you shortly. </p>
      <p>Have a great day!</p>
      <div class="pop-up__close" tabindex="0" aria-label="Close pop-up"></div>
    </article>
  </div>
{% endblock %}