{% extends 'layout.html.twig' %}

{% block description %}
  On  this page it's all information about global agency for the selection and sale of real estate.
{% endblock %}

{% block title %}
  Our services.
  {{ parent() }}
{% endblock %}

{% block content %}

    <!-- *****SECTION TAKEN FROM PROPERTIES PAGE -->
    <section class="dream dream__txt dream__services">
      <h1 class="sr-only">The widest range of services in the real estate market</h1>
      <div class="container">
        <h2>Elevate Your Real Estate Experience</h2>
        <p>Welcome to Estatein, where your real estate aspirations meet expert guidance. Explore our comprehensive range of services, each designed to cater to your unique needs and dreams. </p>
      </div>
    </section>

<!-- *********SECTION TAKEN FROM HOME PAGE -->
    <section class="services__blocks">
      <h2 class="sr-only">Assistance in selecting real estate.</h2>
      <div class="home_top__cards">
        <div class="home_top__card">
          <img src="../assets/icons/Home.png" loading="lazy" alt="Home icon" width="48" height="48">
          <p class="home_top__card_desc">
            Find Your Dream Home
          </p>

          <div class="arrow">
            <span></span>
          </div>
          
        </div>

        <div class="home_top__card">
          <img src="../assets/icons/Value.png" loading="lazy" alt="Money icon" width="48" height="48">
          <p class="home_top__card_desc">
            Unlock Property Value
          </p>
          <div class="arrow">
            <span></span>
          </div>
        </div>

        <div class="home_top__card">
          <img src="../assets/icons/Property.png" loading="lazy" alt="Building icon" width="48" height="48">
          <p class="home_top__card_desc">
            Effortless Property Management
          </p>
          <div class="arrow">
            <span></span>
          </div>
        </div>

        <div class="home_top__card">
          <img src="../assets/icons/Smart.png" loading="lazy" alt="Sun icon" width="48" height="48">
          <p class="home_top__card_desc">
            Smart Investments, Informed Decisions
          </p>
          <div class="arrow">
            <span></span>
          </div>
        </div>
      </div>
    </section>
<!-- !SECTION CONSTRUCT -->
    <section class="construct container">
      <div class="stars">
        <img src="../assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
      </div>
      <h2 class="construct__title">Unlock Property Value</h2>
      <p class="construct__paragraph">Selling your property should be a rewarding experience, and at Estatein, we make sure it is. <span class="construct__hide">Our Property Selling Service is designed to maximize the value of your property, ensuring you get the best deal possible. Explore the categories below to see how we can help you at every step of your selling journey.</span> </p>

      <div class="construct__flex">
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/Voluation.png" alt="valuation icon" loading="lazy" width="48" height="48">
            <h3 class="construct__card_title">Valuation Mastery</h3>
          </header>
          <p class="construct__card_txt">Discover the true worth of your property with our expert valuation services.</p>
        </div>
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/Strategic.png" alt="strategic marketing icon" loading="lazy" width="48" height="48">
            <h3 class="construct__card_title">Strategic Marketing</h3>
          </header>
          <p class="construct__card_txt">Selling a property requires more than just a listing; it demands a strategic marketing.</p>
        </div>
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/Navigational.png" alt="Negotiation Wizardry icon" loading="lazy" width="48" height="48">
            <h3 class="construct__card_title">Negotiation Wizardry</h3>
          </header>
          <p class="construct__card_txt">Negotiating the best deal is an art, and our negotiation experts are masters of it.</p>
        </div>
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/Closing.png" alt="Closing Success icon" loading="lazy" width="48" height="48">
            <h3 class="construct__card_title">Closing Success</h3>
          </header>
          <p class="construct__card_txt">A successful sale is not complete until the closing. We guide you through the intricate closing process.</p>
        </div>

        <div class="construct__card last">
          <h3 class="last__title">Unlock the Value of Your Property Today</h3>
          <a class="last__btn" href="index.php?route=contact" aria-label="Сontact us and we will provide you with all the detailed information on your request">Learn More</a>
          <p class="last__paragraph">Ready to unlock the true value of your property? Explore our Property Selling Service categories and let us help you achieve the best deal possible for your valuable asset.</p>
        </div>
      </div>
    </section>
<!-- !SECTION CONSTRUCT 2 -->
    <section class="construct container">
      <div class="stars">
        <img src="../assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
      </div>
      <h2 class="construct__title">Effortless Property Management</h2>
      <p class="construct__paragraph">Owning a property should be a pleasure, not a hassle. Estatein's Property Management Service takes the stress out of property ownership. <span class="construct__hide"> offering comprehensive solutions tailored to your needs. Explore the categories below to see how we can make property management effortless for you</span> </p>

      <div class="construct__flex">
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/Tenant.png" loading="lazy" alt="Tenant icon">
            <h3 class="construct__card_title">Tenant Harmony</h3>
          </header>
          <p class="construct__card_txt">Our Tenant Management services ensure that your tenants have a smooth and reducing vacancies.</p>
        </div>
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/maitanance.png" alt="Maintenance Ease icon" loading="lazy" width="48" height="48">
            <h3 class="construct__card_title">Maintenance Ease</h3>
          </header>
          <p class="construct__card_txt">Say goodbye to property maintenance headaches. We handle all aspects of property upkeep.</p>
        </div>
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/financial.png" loading="lazy" alt="Financial Peace of Mind icon" width="48" height="48">
            <h3 class="construct__card_title">Financial Peace of Mind</h3>
          </header>
          <p class="construct__card_txt">Managing property finances can be complex. Our financial experts take care of rent collection</p>
        </div>
        <div class="construct__card">
          <header class="construct__card_header">
            <img src="../assets/icons/Smart.png" loading="lazy" alt="Legal Guardian icon" width="48" height="48">
            <h3 class="construct__card_title">Legal Guardian</h3>
          </header>
          <p class="construct__card_txt">Stay compliant with property laws and regulations effortlessly.</p>
        </div>

        <div class="construct__card last">
          <h3 class="last__title">Experience Effortless Property Management</h3>
          <a class="last__btn" href="index.php?route=contact" aria-label="Сontact us and we will provide you with all the detailed information on your request">Learn More</a>
          <p class="last__paragraph">Ready to experience hassle-free property management? Explore our Property Management Service categories and let us handle the complexities while you enjoy the benefits of property ownership.</p>
        </div>
      </div>
    </section>
<!-- !SECTION SMART -->
    <section class="smart container">
      <h2 class="sr-only">Smart Investments</h2>
      <div class="stars">
        <img src="../assets/icons/star.png" loading="lazy" alt="stars icon" width="46" height="20">
      </div>
      <article class="smart__text">
        <h2 class="smart__title">Smart Investments, Informed Decisions</h2>
        <p>Building a real estate portfolio requires a strategic approach. <span class="construct__hide">Estatein's Investment Advisory Service empowers you to make smart investments and informed decisions.</span></p>
      </article>

      <article class="smart__card">
        <h3 class="smart__card_title">Unlock Your Investment Potential</h3>
        <p>Explore our Property Management Service categories and let us handle the complexities while you enjoy the benefits of property ownership.</p>
        <a class="smart__btn" href="index.php?route=contact">Learn More</a>
      </article>

      <div class="smart__wrapper">
        <div class="smart__stats">
          <header class="smart__stats_header">
            <img src="../assets/icons/Voluation.png" loading="lazy" alt="Market Insight icon" width="48" height="48">
            <h3 class="smart__stats_title">Market Insight</h3>
          </header>
          <p>Stay ahead of market trends with our expert Market Analysis. We provide in-depth insights into real estate market conditions</p>
        </div>

        <div class="smart__stats">
          <header class="smart__stats_header">
            <img src="../assets/icons/roi.png" loading="lazy" alt="ROI Assessment icon" width="48" height="48">
            <h3 class="smart__stats_title">ROI Assessment</h3>
          </header>
          <p>Make investment decisions with confidence. Our ROI Assessment services evaluate the potential returns on your investments</p>
        </div>

        <div class="smart__stats">
          <header class="smart__stats_header">
            <img src="../assets/icons/customized.png" loading="lazy" alt="Customized Strategies icon" width="48" height="48">
            <h3 class="smart__stats_title">Customized Strategies</h3>
          </header>
          <p>Every investor is unique, and so are their goals. We develop Customized Investment Strategies tailored to your specific needs</p>
        </div>

        <div class="smart__stats">
          <header class="smart__stats_header">
            <img src="../assets/icons/Smart.png" loading="lazy" alt="Diversification Mastery icon" width="48" height="48">
            <h3 class="smart__stats_title">Diversification Mastery</h3>
          </header>
          <p>Diversify your real estate portfolio effectively. Our experts guide you in spreading your investments across various property types and locations</p>
        </div>
      </div>

    </section>
{% endblock %}