{% extends 'layout.html.twig' %}

{% block description %}
  Terms and Conditions Estatein - Real Estate Agency.
{% endblock %}

{% block title %}
  Terms and Conditions of
  {{ parent() }}
{% endblock %}

{% block content %}

  <main class="terms container">
    <h1>Terms and Conditions for Estatein - Real Estate Agency</h1>

    <article>
      <h2>1. Introduction</h2>
      <p>Welcome to Estatein - Real Estate Agency. These Terms and Conditions outline the rules and regulations for the use of our website and services. By accessing our website and using our services, you agree to comply with and be bound by these Terms and Conditions.</p>
    </article>
    
    <article>
      <h2>2. Definitions</h2>
      <ul>
        <li>Client: Any individual or entity using the services provided by Estatein - Real Estate Agency.</li>
        <li>Services: All services provided by Estatein - Real Estate Agency, including but not limited to property listing, property management, and consultancy services.</li>
        <li>Website: The Estatein - Real Estate Agency website located at <a href="../index.html">www.estatein.com.</a></li>
      </ul>
    </article>

    <article>
      <h2>3. Services</h2>
      <p>Estatein - Real Estate Agency provides a variety of real estate services, including property listing, property management, and consultancy. We strive to ensure that our services are accurate and up-to-date, but we do not guarantee the completeness or accuracy of any information provided.</p>
    </article>

    <article>
      <h2>4. Use of the Website</h2>
      <ul>
        By using our website, you agree to the following:
        <li>You will use the website only for lawful purposes.</li>
        <li>You will not use the website in any way that could damage, disable, or impair the website.</li>
        <li>You will not attempt to gain unauthorized access to any part of the website.</li>
      </ul>
    </article>

    <article>
      <h2>5. Intellectual Property</h2>
      <p>All content on the Estatein - Real Estate Agency website, including text, graphics, logos, and images, is the property of Estatein - Real Estate Agency or its content suppliers and is protected by international copyright laws. Unauthorized use of this content is prohibited.</p>
    </article>
    

    <article>
      <h2>6. Limitation of Liability</h2>
      <p>Estatein - Real Estate Agency will not be liable for any indirect, incidental, special, or consequential damages arising from the use of our services or website. Our liability for direct damages is limited to the amount paid by the client for the services in question.</p>
    </article>

    <article>
      <h2>7. Privacy Policy</h2>
      <p>Your privacy is important to us. Please review our Privacy Policy, which also governs your use of our services, to understand our practices.</p>
    </article>

    <article>
      <h2>8. Termination</h2>
      <p>We reserve the right to terminate or suspend access to our services immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms and Conditions.</p>
    </article>

    <article>
      <h2>9. Governing Law</h2>
      <p>These Terms and Conditions are governed by and construed in accordance with the laws of [Your Country/State], and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>
    </article>

    <article>
      <h2>10. Changes to Terms and Conditions</h2>
      <p>Estatein - Real Estate Agency reserves the right to modify these Terms and Conditions at any time. Any changes will be posted on this page, and your continued use of our services and website signifies your acceptance of such changes.</p>
    </article>

    <article>
      <h2>11. Contact Information</h2>
      <p>If you have any questions about these Terms and Conditions, please contact us at:</p>
      <p>Estatein - Real Estate Agency</p>
      <p>20 rue Vasco de Gama</p>
      <p>35000 RENNES</p>
      <p><a href="mailto:real-estate@estatein.com">real-estate@estatein.com</a></p>

      <p class="terms__small">*By using our services, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.</p>
    </article>

  </main>
{% endblock %}